body { background: #f822c0; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 11px; display: flex; }
.block-metrics-0 { color: #32a613; font-size: 21px; margin-bottom: 5px; }
.block-validator-1 { color: #b4949f; font-size: 13px; margin-bottom: 5px; }
.block-cluster-2 { color: #946abb; font-size: 15px; margin-bottom: 5px; }
.block-sms-3 { color: #36b41c; font-size: 21px; margin-bottom: 5px; }
.block-logger-4 { color: #f18ba9; font-size: 19px; margin-bottom: 5px; }
.block-shipping-5 { color: #52822b; font-size: 14px; margin-bottom: 5px; }